/* Colori */
/* --light-blue: #add8e6;
--goldenrod: #daa520;
--navy-blue: #00008b;
--violet-web: #ee82ee;
--dodger-blue: #1e90ff;
--pink: #ffc0cb;
--forest-green-web: #228b22;
--light-coral: #f08080;
--light-sea-green: #20b2aa;
--aquamarine: #7fffd4; */