/* Colori */
/* --aquamarine: #7fffd4; #ffb6c1*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 920px;
    margin: 0 auto;
}

.small-container{
    background-color: #ee82ee;
    margin: 0 6rem;
    padding: 10rem 0;
}

.border-black{
    border: 2px dashed black;
}

.border-white{
    border: 2px dashed white;
}

header{
    background-color: #add8e6;
    padding: 1rem 0;
}

header nav{
    background-color: #daa520;
    display: flex;
}

nav .logo, 
nav .login{
    flex-basis: 25%;
}

nav .link-list{
    display: flex;
    list-style: none;
    flex-grow: 1;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

nav .login{
    display: flex;
    justify-content: end;
}

nav .logo,
nav a{
    padding: .5rem;
}

nav a{
    text-decoration: none;
}

section{
    padding: 2rem 0;
}

main section:first-of-type{
    background-color: #00008b;
}

.flex{
    display: flex;
}

.container.flex .blue{
    background-color: #1e90ff;
    padding: 10rem 0;
    flex-grow: 1;
}

.container.flex .pink{
    background-color: #ffc0cb;
    padding: 10rem 0;
    flex-basis: 40%;
}

section.grey{
    background-color: #d3d3d3;
}

main section:last-child .container{
    padding: 12rem 0;
    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

footer .container{
    padding: 1rem 0;
}

footer .container .coral{
    padding: 10rem 0;
    flex-grow: 1;
    background-color: #f08080;
}

footer .container .sea{
    padding: 10rem 0;
    flex-basis: 15%;
    background-color: #20b2aa;
}

hr{
    border-color: white;
}

footer .container:last-child{
    background-color: #7fffd4;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

footer .container:last-child div{
    background-color: #ffb6c1;
    padding: .2rem;
}